body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #333;  /* Agrega una línea debajo */
}

h1 {
    font-size: 2.5em;
    margin: 0;  /* Eliminar el margen del título */
}

h2 {
    color: #4CAF50;
    margin: 10px 0;
}

section {
    padding: 20px;
}

.profile {
    text-align: left;  /* Alinea el perfil a la izquierda */
    margin-top: 20px;
    font-size: 1.2em;
}

.profile p {
    margin: 5px 0;
}

.profile a {
    color: #4CAF50;
    text-decoration: none;
}
